/**
 * @name me
 * @author Disease#5663
 * @version 1.0.0
 * @description Based on Outlook Web.
 * @source https://github.com/maenDisease/Outlook
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Outlook
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://media.tenor.com/0hjOGLFaQa0AAAAd/lofi-girl-lofi.gif');
  --accent-hue: 9;
  --accent-saturation: 100%;
  --accent-brightness: 50%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 0.66;
  --gradient-saturation: 100%;
  --gradient-deg: 147deg;
  --customFont: Segoe UI;
}

/* Any custom CSS below here */


